.wrapper-slider {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../slide4@1X.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 195px 0 274px;
    margin-bottom: 90px;
}

.girls {
    width: 710px;
    margin: auto;
    
}

.title-girls {
    font-size: 55px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.title-girls::before {
    content: '\003C';
    display: block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    position: absolute;
    opacity: 0.9;
    top: 20px;
    left: 5px;
    font-size: 80px;
    text-align: center;
    font-weight: 300;
    opacity: 0.9;
}

.title-girls::after {
    content: '\003E';
    display: block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    position: absolute;
    opacity: 0.9;
    top: 20px;
    right: 5px;
    font-size: 80px;
    text-align: center;
    font-weight: 300;
    opacity: 0.9;
}

.p {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
}

