.flex {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-basis: 40%;  
    align-items: center; 
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.logo {
    font-size: 2.5rem;
    font-family: 'Montseratt', sans-serif;
    font-weight: 700;
    color: #95e1d3;
}

.menu-item {
    font-size: 1rem;
    font-family: 'Montseratt', sans-serif;
    font-weight: 400;
    color: #95e1d3;
    text-transform: uppercase;
    position: relative;
}

.menu-item::after {
    content: '';
    width: 100%;
    height: 0.1875rem;
    background-color: #f38181;
    display: none;
    margin: 0.75rem auto 0;
    position: absolute;
}

.menu-item:hover::after {
    display: block;
}

.menu-item:hover {
    color: #f38181;
}

.wrapper-header {
    margin-bottom: 6.87rem;
}
