.wrapper-banner {
    background-image: url(../img/Vector\ Smart\ Object@2X.png), linear-gradient(#000, #000);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 8.8rem;
    
}

.header {
    display: flex;
    justify-content:center;
    flex-wrap: wrap; 
    padding-top: 1.7rem;    
}

.in-up {
    display: flex;
    justify-content: space-between;
    flex-basis: 57%;
    text-transform: capitalize;
    min-height: 2.5rem;
    margin-bottom: 6.1rem;
}

.log-sign {
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    display: flex;
    align-items: center;
}

.log-sign:hover {
    border: 0.1rem solid #fff;
    border-radius: 2rem;
    padding: 0.5rem 0.9rem;
}

.logo {
    order: 1;
    flex-basis: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
}

.h {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.sub-title {
    font-weight: 300;
    font-size: 1.1rem;
    width: 86%;
    margin: auto;
    margin-bottom: 1.3rem;
}

.btn {
    outline: none;
    border: none;
    border-radius: 3rem;
    color: #fff;
    background-color: #ff4e50;
    font-weight: 700;
    padding: 0.75rem 3.7rem;  
    font-size: 0.87rem;
}

@media (min-width: 768px) {
    
    .wrapper-banner {
        background-image: url(../img/Vector\ Smart\ Object@1X.png), linear-gradient(#000, #000);
        background-size: unset;
        background-position: center top;
        background-repeat: no-repeat;
        color: #fff;
        padding-bottom: 14.3rem;
    }

    .header {
        justify-content: space-between;
        padding-top: 2.5rem;
        margin-bottom: 3rem;
    }
    
    .logo {
        order:0;
        flex-basis: 30%;
    }

    .in-up {
        flex-basis: 30%;
        justify-content: space-evenly;
    }

    .h {
        width: 66.5%;
        margin: auto;
    }

    .title {
        font-size: 2.9rem;
        margin-bottom: 1.6rem;
    }

    .sub-title {
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
    }

    .btn {
        padding: 0.75rem 1.7rem;
        font-size: 0.95rem
    }
}

@media (min-width: 1200px) {
    .header {
        justify-content: space-between;
        padding-top: 2.5rem;
        margin-bottom: 3rem;
    }
    
    .logo {
        order:0;
        flex-basis: 10%;
        font-size: 1.1rem
    }

    .in-up {
        flex-basis: 20%;
        justify-content: space-around;
    }

    .log-sign {
        font-size: 0.9rem
    }

    .h {
        width: 52.5%;
        margin: auto;
    }
}
