* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    min-width: 20rem;
    max-width: 59rem;
    margin: auto;
    font-family: 'Montserrat',sans-serif;
    padding: 0 1rem;
    /* outline: none; */
}

